<div class="toast {{if flashNoticeVisibility 'visible' 'hidden'}}" role="alert" aria-live="assertive" aria-atomic="true" data-autohide={{not flashNoticeIsPermanent}}>
  <div class="toast-header bg-{{flashNoticeStatus}}">
    <strong class="mr-auto text-white">{{flashNoticeStatus}}!</strong>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
      {{#if flashNoticeIsPermanent}}
        <span aria-hidden="true">&times;</span>
        <i class="fa fa-times" aria-hidden="true" {{action "1"}}></i>
      {{/if}}
    </button>
  </div>
  <div class="toast-body">
    {{flashNoticeContent}}
  </div>
</div>