<div class="footer p-5 mt-5 ">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-3 text-light">
        {{simple-mde-preview settings.settings.location_info}}
      </div>

      <div class="col-12 col-md-3 pt-5 pt-md-0">
        <h3 class="text-light mb-0"> Contact </h3> <br>
        <span>  <a class="text-light" href="mailto:{{settings.settings.info_email}}">{{settings.settings.info_email}}</a></span> <br>
        {{!--Koen's phone number--}}
        <span>  <a class="text-light" href="tel:{{settings.settings.info_phone_number}}"> {{settings.settings.info_phone_number}} </a> </span> <br>
      </div>

      <div class="col-12 col-md-6 py-5 py-md-0">
        <img class="header-rtt-logo pull-right pl-5 pr-5 max-width" alt="logo" src="/images/rtt_logo_medium.png">
      </div>
    </div>

    <div class="col-12">
      {{social-media centered=true}}
    </div>
  </div>
</div>
