<div class="gradient"> </div>

{{!-- preload all header backgrounds --}}
  <img class="header-image {{if (eq header.id selectedHeader.id) 'visible'}}" src={{model.subteam.imageSrc}} alt={{model.subteam.name}}>

{{!-- Title and subtitle --}}
<div class="container frontpage-header">
  <div class="row">
    <div class="col-12">
      <h1 class="header-image-title text-white mt-5 pt-5">
        {{model.subteam.name}} <br>
      </h1>
      <span class="header-image-title subtitle text-white"> 
        {{simple-mde-preview model.subteam.description}}
      </span>
    </div>
  </div>
</div>

<div class="container">
  <div class="col-12 mt-5">
    {{#each model.designitems as |designitem index|}}
      <div class="row mt-5 mb-5">        
        <div class="col-12 col-md-6 order-6 align-self-center">
          <div style="padding:56.25% 0 0 0;position:relative;">
            <iframe src="https://player.vimeo.com/video/{{designitem.vimeoId}}?loop=1&color=cc0000&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen>
            </iframe>
          </div>
        </div>
        <div class="col-12 col-md-6 mt-2 {{if (is-even index) 'order-1' 'order-12'}}">
          <h3> {{designitem.title}} </h3>
          {{simple-mde-preview designitem.content}}
        </div>
      </div>
    {{/each}}
  </div>

  <hr>

  <h2 class="mt-5 mb-5 text-center"> Watch the other subteams as well! </h2>
  <div class="col-12 row mb-5"> 
    {{#each model.otherSubteams as |subteam|}}
      <div class="col-12 col-md-4">
        <LinkTo @route="design-presentation.subteam" @query={{hash subteam=subteam.id}}>
          <img class="max-width cover" height="200" src={{subteam.imageSrc}} alt={{subteam.title}}>
          <h4 class="text-dark mt-2">
            {{subteam.name}}
          </h4>
        </LinkTo>
      </div>
    {{/each}}
  </div>
</div>
