<div class="container mt-5">
  {{#if model.length}}
    <div class="col-12 mt-5">
      <div class="row mt-5">
        <div class="col-12">
          {{simple-mde-preview settings.settings.join_text}}

          <a class="btn btn-lg btn-danger mt-2" href="mailto:info@roboteamtwente.nl?SUBJECT=Application%20RoboTeam %20Twente&BODY=- Name%3A%0D%0A- Preferred%20position%3A%0D%0A- Motivation%3A%0D%0A- Resume%3A%0D%0A">
            <h5> Apply now! </h5>
          </a>

          <button class="btn btn-lg btn-light mt-2">
            {{#link-to "join.form"}}
              <h5 class="text-dark"> Keep me posted! </h5>
            {{/link-to}}
          </button>

          <a class="btn btn-lg btn-light mt-2" href="mailto:info@roboteamtwente.nl?SUBJECT=I have a question about ...">
            <h5 class="link"> I have a question! </h5>
          </a>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-12 mb-5">
          <h1> Available positions </h1>
          <i class="text-muted"> All positions start at 31-08-2020 </i>
        </div>
        {{#each model as |offer|}}
          <div class="col-12 col-md-6 col-lg-4" {{action 'selectOffer' offer.id}}>
            <div class="card offer-card border-0 border-radius-0 link mb-5">
              <img class="card-img-top" src={{offer.imageSrc}} alt={{offer.title}}>
              <div class="card-body">
                <h5 class="card-title"> {{offer.title}} </h5>
                <i class="text-muted">
                  {{if offer.isBoard "Management Team"}}
                  {{if (and offer.isBoard offer.fullTime) " / "}}
                  {{if offer.fullTime "Fulltime"}}
                  {{if (and offer.fullTime offer.halfTime) " / "}}
                  {{if offer.halfTime "Halftime"}}
                  {{if (and offer.halfTime offer.partTime) " / "}}
                  {{if offer.partTime "Parttime"}}
                </i>
                <p class="card-text mt-2"> {{offer.contentShortened }} </p>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  {{else}}
    <div class="col-12 mt-5">
      <div class="row mt-5">
        <div class="col-12">
          {{simple-mde-preview settings.settings.can_not_join_text}}

          <a class="btn btn-lg btn-danger mt-2"
             href="mailto:info@roboteamtwente.nl?SUBJECT=Application%20RoboTeam %20Twente&BODY=- Name%3A%0D%0A- Preferred%20position%3A%0D%0A- Motivation%3A%0D%0A- Resume%3A%0D%0A">
            <h5> Apply now! </h5>
          </a>

          <a class="btn btn-lg btn-light mt-2" href="mailto:info@roboteamtwente.nl?SUBJECT=I have a question about ...">
            <h5 class="link"> I have a question! </h5>
          </a>
        </div>
      </div>
    </div>
  {{/if}}
</div>

<div class="backdrop {{if sideBarOpen 'visible'}}" {{action 'deselectOffer'}}> </div>
<div class="slideModal {{if sideBarOpen 'visible'}} p-0">
  <div class="container">
    <div class="row">
      <div class="col-12 mt-5">
        <div class="row">
          <div class="col-12 pt-5 pl-5 pb-2">
            <img class="max-width" alt={{selectedOffer.title}} src={{selectedOffer.imageSrc}}>
          </div>
          <div class="col-12 pl-5">
            <h3 class="mt-2 pt-0 pb-0"> {{selectedOffer.title}} </h3>
            <i class="text-muted"> 
              {{if selectedOffer.isBoard "Management Team"}}
              {{if (and selectedOffer.isBoard selectedOffer.fullTime) " / "}}
              {{if selectedOffer.fullTime "Fulltime"}}
              {{if (and selectedOffer.fullTime selectedOffer.halfTime) " / "}}
              {{if selectedOffer.halfTime "Halftime"}} 
              {{if (and selectedOffer.halfTime selectedOffer.partTime) " / "}}
              {{if selectedOffer.partTime "Parttime"}} 
            </i>
          </div>
        </div>
      </div>
      <div class="col-12 p-5 pt-0">
        <span> {{selectedOffer.contentFormatted}} </span>
      </div>
    </div>
  </div>
</div>