<div class="container">
  <div class="row">
    <h3 class="mt-5 col"> All listed members </h3>

    <div class="col-4">
      {{#if isChangingOrder}}
        <button class="btn btn-danger mt-5 ml-2 float-right" {{action 'saveChangedOrder'}}> Save new order! </button>
        <button class="btn btn-default mt-5 ml-2 border float-right" {{action 'cancelChangeOrder'}}> Cancel changing order </button>
      {{else}}
        {{#link-to "admin.members.new" }} 
          <button class="btn btn-danger mt-5 ml-2 float-right"> Create new member </button>
        {{/link-to}}
        <button class="btn btn-danger mt-5 ml-2 float-right" {{action 'allowChangeOrder'}}> Change order </button>
      {{/if}}
    </div>
  </div>
  <div class="card">
    <table class="table {{if (not isChangingOrder) 'table-striped'}}">
      <thead>
        <tr>
          {{#if isChangingOrder}}
            <th> # </th>
          {{/if}}
          <th scope="col" class="border-0"> Name </th>
          <th scope="col" class="border-0"> Image </th>
          <th scope="col" class="border-0"> Study </th>
          <th scope="col" class="border-0"> Role </th>
          <th scope="col" class="border-0"> Mail </th>
          <th scope="col" class="border-0"> Options </th>
        </tr>
      </thead>
      
      {{#sortable-group tagName="tbody" onChange=(action "reorderItems") as |group|}}
        {{#each sortedModel as |member|}}
          {{#sortable-item tagName="tr" isAnimated=false model=member group=group handle=".handle"}}
            {{#if isChangingOrder}}
              <td> <span class="handle"><small><i class="fa fa-bars text-small" aria-hidden="true"></i> </small></span> </td>
            {{/if}}
            <td> 
              {{#link-to "admin.members.edit" member.id}}
                {{member.name}}
              {{/link-to}}
            </td>
            <td><img src={{member.imageSrc}} class="cover" alt="member" width='50' height='50'></td>
            <td>{{member.study}}</td>
            <td>{{member.role}}</td>
            <td>{{member.mail}}</td>
            <td> 
              <a class="link text-danger" {{action "remove" member.id}}> Remove </a> / 
              {{#link-to "admin.members.edit" member.id}} <a class="link text-muted"> Edit </a> {{/link-to}}
            </td>
          {{/sortable-item}}
        {{/each}}
      {{/sortable-group}}
    </table>
  </div>
</div>