<div class="container">
  <div class="card mt-5">
    <div class="card-header">
      <strong> {{if model.isNew "Add new header" "Edit header"}} </strong>
    </div>
    <form {{action "saveModelWithImage" on="submit"}}>
      <div class="form-group pl-4 pr-4 pt-3">
        <div class="row">

          {{!-- Show error message if something went wrong --}}
          {{#if error}}
            <div class="alert alert-danger">
              <b> Oh oh... </b> <br>
              {{error}}
            </div>
          {{/if}}

          {{!-- title --}}
          <div class="col-12 col-md-8">
            <label>
              <span class="text"> Header title * </span>
              {{input type="text" class="form-control mb-2" placeholder="e.g. We are the Robot soccer team of the university of Twente!" value=model.title}}
            </label>
          </div>

          {{!-- Image upload --}}
          <div class="col-12 col-md-4">
            <label>
              <span class="text"> Image * </span> <br>
              {{x-file-input class="btn btn-primary" multiple=false name="false" action=(action "didSelectImage") accept="image/*" alt="Upload Image"}}
              <img id="output" class="img-sample" alt="preview" src={{model.imageSrc}} hidden={{shouldHideImage}}>
            </label>
          </div>

          {{!-- Subtitle --}}
          <div class="col-12 col-md-8">
            <label>
              <span class="text"> Header subtitle * </span>
              {{input type="text" class="form-control mb-2" placeholder="e.g. We are looking for new members" value=model.subtitle}}
            </label>
          </div>

          {{!-- Subtitle link --}}
          <div class="col-12 col-md-4">
            <label>
              <span class="text"> Header subtitle link </span>
              {{input type="text" class="form-control mb-2" placeholder="e.g. index" value=model.subtitleLink}}
              <span> Either specify the route name, or an extenal link starting with </span> <code> https:// </code>
            </label>
          </div>

          <div class="col-12"> 
            <button type="submit" class="btn btn-primary mb-2 mt-2 d-inline"> {{if model.isNew "Add header" "Update header"}} </button>
            {{#link-to "admin.headers"}}
              <button class="btn btn-default mb-2 mt-2 d-inline"> Cancel </button>
            {{/link-to}}
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
