
<div class="container">
  <div class="card mt-5">
    <div class="card-header">
      <div class="row">
        <strong class="col"> All listed headers </strong>
        {{#if isChangingOrder}}
          <a class="text-default mr-3 float-right link" {{action 'cancelChangeOrder'}}> Cancel changing order </a>
          <a class="text-success mr-3 float-right link" {{action 'saveChangedOrder'}}> Save new order! </a>
        {{else}}
          <a class="text-default mr-3 float-right link" {{action 'allowChangeOrder'}}> Change order </a>
          {{#link-to "admin.headers.new" }} 
            <a class="text-danger mr-3 float-right link"> Create new header </a>
          {{/link-to}}
        {{/if}}
      </div>
    </div>
    <table class="table {{if (not isChangingOrder) 'table-striped'}}">
      <thead>
        <tr>
          {{#if isChangingOrder}}
            <th> # </th>
          {{/if}}
          <th scope="col" class="border-0"> Title  </th>
          <th scope="col" class="border-0"> Subtitle  </th>
          <th scope="col" class="border-0"> Link  </th>
          <th scope="col" class="border-0"> Image </th>
          <th scope="col" class="border-0"> Options </th>
        </tr>
      </thead>

      {{#sortable-group model=sortedModel tagName="tbody" onChange=(action "reorderItems") as |group|}}
        {{#each group.model as |header|}}
          {{#group.item tagName="tr" isDraggingDisabled=(not isChangingOrder) model=header as |item|}}
            {{#if isChangingOrder}}
              <td>  
                {{#item.handle}}
                  <span class="handle">&varr;</span>
                {{/item.handle}}
              </td>
            {{/if}}
            <td> {{header.title}} </td>
            <td> {{header.subtitle}} </td>
            <td> {{header.subtitleLink}} </td>
            <td><img src={{header.imageSrc}} alt="header" width='50' height='50'></td>
            <td> 
              <a class="link text-danger" {{action "remove" header.id}}> Remove </a> / 
              {{#link-to "admin.headers.edit" header.id}} <a class="link text-muted"> Edit </a> {{/link-to}}
            </td>
          {{/group.item}}
        {{/each}}
      {{/sortable-group}}
    </table>
  </div>
</div>