{{admin-nav}}

<div class="container">
  <div class="card mt-5">
    <form {{action "addEvent" on="submit"}}>
	  <div class="form-group pl-4 pr-4 pt-3">
	    <div class="row">
	      <div class="col-6"> 
	        {{input type="text" class="form-control mt-2 mb-2" placeholder="Open Days" value=title}} 
	      </div>
          <div class="col-6"> 
	      {{input type="text" class="form-control mt-2 mb-2" placeholder="Enschede" value=location}}
	      </div>
          <div class="col-6"> 
	      {{input type="date" class="form-control mt-2 mb-2" placeholder="startDate" value=startDate}}
	      </div>
          <div class="col-4"> 
	      {{input type="date" class="form-control mt-2 mb-2" placeholder="endDate" value=endDate}}
	      </div>
          <div class="col-2"> 
	      <button type="submit" class="btn btn-danger mt-2 mb-2 w-100"> Add Event</button>
	      </div>
	  	</div>
	  </div>            
	</form>
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th scope="col"> Event </th>
	      <th scope="col"> Location </th>
	      <th scope="col"> Start date </th>
	      <th scope="col"> End date </th>
	      <th scope="col"> Options </th>
	    </tr>
	  </thead>
	  
	  <tbody>
	  	{{#each model as |event|}}
	      <tr>
	        <td>{{event.title}}</td>
	        <td>{{event.location}}</td>
	        <td>{{moment-format event.startDate "DD-MM-YYYY hh:mm"}}</td>
	        <td>{{moment-format event.endDate "DD-MM-YYYY hh:mm"}}</td>
	        <td> <a class="link text-danger" {{action "removeEvent" event.id}}> Remove </a> </td>
	      </tr>
	    {{/each}}
	  </tbody>
	</table>
  </div>
</div>