{{admin-nav}}

<div class="container">
  <h3 class="mt-5"> Add new event </h3>
  <div class="card">
    <form {{action "addEvent" on="submit"}}>
    <div class="form-group pl-4 pr-4 pt-3">
      <div class="row">
        <div class="col-12"> 

          {{#if error}}
            <div class="alert alert-danger"> 
               <b> Oh oh... </b> <br> 
               {{error}}
            </div>
          {{/if}}

          <label>
            <span class="text"> Event name * </span>
            {{input type="text" class="form-control mb-2" placeholder="e.g. Open Days" value=title}} 
          </label>
        </div>

        <div class="col-6"> 
          <label>
            <span class="text"> Start of event * </span>
              {{pikaday-input placeholder="Start date" value=startDate class="form-control mb-2" format="DD/MM/YYYY" onSelection=(action (mut startDate))}}
          </label>
        </div>

        <div class="col-6"> 
          <label>
            <span class="text"> End of event * </span>
           {{pikaday-input placeholder="End date" value=endDate class="form-control mb-2" format="DD/MM/YYYY" onSelection=(action (mut endDate))}}
          </label>
        </div>

        <div class="col-6"> 
          <label>
            <span class="text"> Location * </span>
            {{input type="text" class="form-control mb-2" placeholder="e.g. Enschede" value=location}}
          </label>
        </div>

        <div class="col-6"> 
          <label>
            <span class="text"> Link </span>
            {{input type="text" class="form-control mb-2" placeholder="e.g. roboteamtwente.nl" value=link}}
          </label>
        </div>

        <div class="col-12"> 
          <label>
            <span class="text"> Description *</span>
          </label>
         {{pell-editor class="border border-radius-2" value=description onChange=(action (mut description)) pellOptions=options}}
        </div>

        <div class="col-2"> 
          <button type="submit" class="btn btn-danger mb-2 mt-2 w-100"> Add Event</button>
        </div>
      </div>
    </div>            
  </form>
  </div>

  <h3 class="mt-5"> All listed events </h3>
  <div class="card">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" class="border-0"> Event </th>
        <th scope="col" class="border-0"> Location </th>
        <th scope="col" class="border-0"> Start date </th>
        <th scope="col" class="border-0"> End date </th>
        <th scope="col" class="border-0"> Options </th>
      </tr>
    </thead>
    
    <tbody>
      {{#each model as |event|}}
        <tr>
          <td>{{event.title}}</td>
          <td>{{event.location}}</td>
          <td>{{moment-format event.startDate "DD-MM-YYYY hh:mm"}}</td>
          <td>{{moment-format event.endDate "DD-MM-YYYY hh:mm"}}</td>
          <td> <a class="link text-danger" {{action "removeEvent" event.id}}> Remove </a> </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  </div>
</div>