<div class="container">
  <div class="card mt-5">
    <div class="card-header">
      <strong> {{if model.isNew "Add new Page item" "Edit Page item"}} </strong>
    </div>
    <form {{action "customSave" on="submit"}}>
      <div class="form-group pl-4 pr-4 pt-3">
        <div class="row">

          {{!-- Show error message if something went wrong --}}
          {{#if error}}
            <div class="alert alert-danger">
              <b> Oh oh... </b> <br>
              {{error}}
            </div>
          {{/if}}

          {{!-- Article title --}}
          <div class="col-12">
            <label>
              <span class="text"> Item title * </span>
              {{input type="text" class="form-control mb-2" placeholder="e.g. Our amazing workshop!" value=model.title}}
            </label>
          </div>

          {{!-- Page selection --}}
          <div class="col-12">
            <label>
              <span class="text"> Page * </span> <br>
              <select class="form-control" onchange={{action (mut model.page) value="target.value"}}>
                <option value="" disabled selected>Select your option</option>
                {{#each allPages as |page|}}
                  <option value={{page.namedId}} selected={{eq page.namedId model.page}}>{{page.name}}</option>
                {{/each}}
              </select>
            </label>
          </div>

          <div class="col-12">
            <label>
              <span class="text"> Image or video </span>
            </label>
            <div class="alert alert-warning">
              <strong> NOTE: </strong> The order in which something will be shown is <b>Video</b> -> <b>Image</b> -> <b>Nothing</b>.
            </div>

            <label>
              <span class="text-muted"> Image </span>
            </label>
            {{x-file-input class="btn btn-danger" multiple=false name="false" action=(action "didSelectImage") accept="image/*" alt="Upload Image"}}
            <img id="output" class="img-sample" alt="preview" src={{model.imageSrc}} hidden={{shouldHideImage}}>

            <hr>

            <label>
              <span class="text-muted"> Video link </span>
            </label>
            {{input type="text" class="form-control mb-2" placeholder="https://vimeo.com/148751763 or https://www.youtube.com/watch?v=4jH0Bbn4wIA" value=model.videoSrc}}
            {{#if model.videoId}}
              <span> Detected video, type: <code> {{model.videoType}} </code>, video ID: <code> {{model.videoId}} </code></span>
            {{else if (eq model.videoType "unknown")}}
              <span> Invalid video url provided, should be formatted as either <code> https://vimeo.com/148751763 </code> or <code> https://www.youtube.com/watch?v=4jH0Bbn4wIA </code> </span>
            {{/if}}
          </div>

          <div class="col-12">
            <label>
              <span class="text"> Content *</span>
            </label>
            {{simple-mde class="border border-radius-2 p-0" value=model.content change=(action (mut model.content))}}
          </div>

          <div class="col-12">
            <button type="submit" class="btn btn-danger mb-2 mt-2 d-inline"> {{if model.isNew "Add item" "Update item"}} </button>
            {{#link-to "admin.page-item"}}
              <button class="btn btn-default mb-2 mt-2 d-inline"> Cancel </button>
            {{/link-to}}
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
