<div class="container">
  <div class="card mt-5">
    <div class="card-header">
      <div class="row">
        <strong class="col"> Settings </strong>
        {{#if isChangingOrder}}
          <a class="text-default mr-3 float-right link" {{action 'cancelChangeOrder'}}> Cancel changing order </a>
          <a class="text-success mr-3 float-right link" {{action 'saveChangedOrder'}}> Save new order! </a>
        {{else}}
          <a class="text-default mr-3 float-right link" {{action 'allowChangeOrder'}}> Change order </a>
          {{#if settings.settings.development_mode}}
            {{#link-to "admin.settings.new" }} 
              <a class="text-danger mr-3 float-right link"> Create new setting </a>
            {{/link-to}}
          {{/if}}
        {{/if}}
      </div>
    </div>
    {{#if settings.settings.development_mode}}
      <div class="alert alert-danger"> 
        <strong> Caution! You are in development mode </strong>  Changing the titles of the settings may cause irrevertible breaking changes to the site. Only change titles when you know what you are doing. 
      </div>
    {{/if}}
    <table class="table table-striped">
      <thead>
        <tr>
          {{#if isChangingOrder}}
            <th> # </th>
          {{/if}}
          <th scope="col" class="border-0"> Title </th>
          <th scope="col" class="border-0"> Explanation </th>
          <th scope="col" class="border-0"> Type </th>
          <th scope="col" class="border-0"> Value </th>
          <th scope="col" class="border-0"> Options </th>
        </tr>
      </thead>

      {{#sortable-group model=sortedModel tagName="tbody" onChange=(action "reorderItems") as |group|}}
        {{#each group.model as |setting|}}
          {{#group.item tagName="tr" model=setting as |item|}}
            {{#if isChangingOrder}}
              <td>  
                {{#item.handle}}
                  <span class="handle">&varr;</span>
                {{/item.handle}}
              </td>
            {{/if}}
            <td> {{setting.title}} </td>
            <td> {{setting.explanation}} </td>
            <td>{{setting.type}}</td>
            <td>{{setting.valueShortened}}</td>
            <td> 
              {{#if settings.settings.development_mode}}
                <a class="link text-danger" {{action "remove" setting.id}}> Remove </a> / 
              {{/if}}
              {{#link-to "admin.settings.edit" setting.id}} <a class="link text-muted"> Edit </a> {{/link-to}}
            </td>
          {{/group.item}}
        {{/each}}
      {{/sortable-group}}
    </table>
  </div>
</div>