<div class="container">
  <div class="row mt-5">
    <div class="col-12">
      <h1> Articles </h1>
    </div>
  </div>
  <div class="row">
    {{#each pagedContent as |article|}}
      <div class="col-12">
        {{#link-to "news.show" article}}
          <div class="border-0 border-radius-0 mb-5 text-dark">
            <div class="row">
              <div class="col-12 col-md-4">
                <img class="max-width article-img" src={{article.imageSrc}} alt={{article.title}}>
              </div>
              <div class="col">
                <h5 class="card-title mt-3 mt-md-0"> {{article.title}} </h5> 
                <span class="text-muted"> {{moment-format article.createdAt "DD MMM YYYY"}} </span>
                <p class="card-text mt-2 d-none d-md-block"> {{remove-markdown article.contentShortened}} </p>
                {{#link-to "news.show" article}}
                  <button class="btn btn-primary float-right"> Read more » </button>
                {{/link-to}}  
              </div>
            </div>
          </div>
        {{/link-to}}
      </div>
    {{/each}}
    <div class="col-12">
      {{page-numbers content=pagedContent}}
    </div>
  </div>
</div>