<div class="container">
  <h3 class="mt-5"> {{if model.isNew "Add new sponsor" "Edit sponsor"}} </h3>
  <div class="card">
    <form {{action "addSponsor" on="submit"}}>
      <div class="form-group pl-4 pr-4 pt-3">
        <div class="row">
          <div class="col-12"> 
            {{#if error}}
              <div class="alert alert-danger"> 
                <b> Oh oh... </b> <br> 
                {{error}}
              </div>
            {{/if}}

            <label>
              <span class="text"> Sponsor name * </span>
              {{input type="text" class="form-control mb-2" placeholder="e.g. Nexperia" value=model.name}} 
            </label>
          </div>
          
          <div class="col-6"> 
            <label>
              <span class="text"> package * </span> <br>
              <span class="text text-muted">
                (0: Byte
                1: Kilobyte
                2: Megabyte
                3: Gigabyte
                4: Demobyte)
               </span>

               <select class="form-control" onchange={{action (mut model.package) value=model.package}}>
                {{#each allPackages as |pkg|}}
                  <option value={{pkg.title}} selected={{eq pkg.title selectedPackage}}>{{pkg.title}}</option>
                {{/each}}
              </select>

            </label>
          </div>

          <div class="col-6"> 

            <label>
              <span class="text"> Image * </span> <br>
             {{x-file-input class="btn btn-danger" multiple=false name="false" action=(action "didSelectImage") accept="image/*" alt="Upload Image"}}
             <img id="output" class="max-width img-sample" src={{model.imageSrc}} hidden={{shouldHideImage}}>
            </label>
          </div>

          <div class="col-6"> 
            <label>
              <span class="text"> width * (1 or two)</span> <br>
              <span class="text text-muted"> 1 or 2. </span>

              {{input type="1" class="form-control mb-2" placeholder="e.g. roboteamtwente.nl" value=model.link}}
            </label>
          </div>

          <div class="col-12"> 
            <button type="submit" class="btn btn-danger mb-2 mt-2 d-inline"> {{if model.isNew "Add sponsor" "Update sponsor"}} </button>
            {{#link-to "admin.sponsors"}}
              <button class="btn btn-default mb-2 mt-2 d-inline"> Cancel </button>
            {{/link-to}}
          </div>
        </div>
      </div>            
    </form>
  </div>
</div>