<div class="container">
  <div class="col-12 mt-5">
    <h1> Publications </h1>
    {{#each model as |innovation index|}}
      <div class="row mt-5 mb-5">        
        <div class="col-12 col-md-5 order-6">
          <img class="max-width" alt={{innovation.title}} src={{innovation.imageSrc}}>
        </div>
        <div class="col-12 col-md-7 mt-5 {{if (is-even index) 'order-1' 'order-12'}}">
          <h3> {{innovation.title}} </h3>
          {{simple-mde-preview innovation.content}}
        </div>
      </div>
    {{/each}}
  </div>
</div>
