{{!-- preload all header backgrounds --}}
{{#each headers as |header|}}
  <img class="header-image {{if (eq header.id selectedHeader.id) 'visible'}}" src={{header.imageSrc}} alt={{header.title}}>
{{/each}}

{{!-- Title and subtitle --}}
<div class="container" style="height: 560px;">
  <div class="row justify-content-between p-5">
    <h1 class="header-image-title text-white col-12 col-md-6 pl-2 pl-md-5 pt-2 pt-md-5 mt-2 mt-md-5">
      {{selectedHeader.title}} <br> <span class="subtitle"> {{selectedHeader.subtitle}} </span>
    </h1>
    <img class="header-rtt-logo p-4 col-6 d-none d-md-block" src="images/rtt_logo_medium.png">
  </div>
</div>

{{!-- Show the 'news-items' which are the blocks under the large header image --}}
<div class="container-fluid">
  <div class="row">
    {{#each headers as |header|}}
      <div class="news-item col border-bottom border-right pl-3 pr-5 pt-3 pb-3 {{if (eq header.id selectedHeader.id) 'active'}}" {{action 'selectHeader' header.id}}>
        <h4 class=""> {{header.title}} </h4>
        <span class="text-muted"> {{header.subtitle}} </span>
       </div>
    {{/each}}
  </div>
</div>

{{!-- Content --}}
<div class="container">
  <div class="row">
    <div class="col-12 col-md-7 mt-5">
      <h1> About the RoboTeam </h1>
      <p>
        RoboTeam Twente is a multidisciplinary team of students from the University of Twente.
        We aspire to innovate in both robotics and artificial intelligence.
        Next, we want to inspire everyone for these two sectors and show the world what can be achieved with them.
        We believe robotics and artificial intelligence can make the world a better place if used correctly.
      </p>
      <p>
        Our medium to achieve these goals is the RoboCup, this year in Sydney.
        The RoboCup hosts multiple competitions for soccer and rescue robots as well as robots that can help at home or on the work floor.
        We will compete at the world championship of robot soccer in which two teams of six small robots will compete with each other.

        This is the second year the team participates in the RoboCup. The team consists of students from different backgrounds,
        such as Mechanical Engineering, Electrical Engineering, Biomedical Engineering, Computer Science and Advanced Technology.

        In the DesignLab of the University of Twente we have a special soccer field,
         on which we will frequently test our robots and in the near future play practice matches.
        If you don’t want to miss anything of our progress and if you want to be notified when we are going to practice, follow us on Facebook or Linkedin!
      </p>
    </div>

    {{!-- Youtube video --}}
    <div class="col-12 col-md-5 mt-5">
      <iframe style="width: 100%" height="280px" src="https://www.youtube.com/embed/o5aIkALemNs?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
  </div>

  {{img-banner
    class="mt-5"
    title="We believe robotics and artificial intelligence can make the world a better place if used correctly."
    subtitle="Learn more about why we do what we do"
    link="robocup"
    imageSrc="images/ai.jpg"
  }}

  {{!-- inspiration content block --}}
  <div class="row pt-5 pb-5 justify-content-center">
    <div class="col-12 col-md-7">
      <h1> Inspiration </h1>
      <p>
      Besides our effort to win the RoboCup, we also aim to inspire and educate people about Artificial intelligence and robotics.
      We do this by attending events from companies and by visiting high schools. RoboTeam Twente offers live demonstrations of our football robots, but also inspiring talks about Artificial Intelligence,
      interesting workshops where everybody can create tactics using a special-built graphical interface.
      </p>

      <p>
        Be sure to contact us!
      </p>
    </div>
  </div>

  {{img-banner
    class="mt-5"
    title="The RoboTeam is a group of 15 students from more than 6 different studies"
    subtitle="Look who we are and why we are in the team"
    link="team"
    imageSrc="content/team.JPG"
  }}

  {{!-- Innovation content block --}}
  <div class="row pt-5 pb-5 justify-content-center">
    <div class="col-12 col-md-7">
      <h1> Innovation </h1>
      <p>
        Within the roboteam a lot of time is spent on innovation. Last year one of the main innovations of RoboTeam Twente was the Geneva Drive.
         You can read all about our innovations in our team description papers in the {{#link-to 'documentation'}} documentation {{/link-to}}
         part of our website.
      </p>
    </div>
  </div>
</div>
