


{{voronoi-map class="voronoi-map-holder" height=560}}
<div class="gradient"> </div>

{{!-- preload all header backgrounds --}}
{{#each headers as |header|}}
  <img class="header-image {{if (eq header.id selectedHeader.id) 'visible'}}" src={{header.imageSrc}} alt={{header.title}}>
{{/each}}


{{!-- Title and subtitle --}}
<div class="container frontpage-header">
  <div class="row justify-content-center">
    <img class="header-rtt-logo col-12 pt-0 pt-md-5" alt="RoboTeam Twente" src="images/rtt_logo_medium.png">
  </div>
  <div class="row">
    <div class="col-12">
      <h1 class="header-image-title text-white mt-5 pt-5">
        {{headerTitle}}
      </h1>
    </div>
  </div>
</div>

{{!-- Articles --}}
<div class="container">
  <div class="row mt-5">
    {{#each articles as |article|}}
        <div class="col-12 col-md-4 mb-5 mb-md-5">
          {{#link-to article.link}}
            <img class="max-width" height="200" style="object-fit: cover" src={{article.imageSrc}} alt={{article.title}}>
            <h4 class="text-dark mt-2">
              {{article.title}}
            </h4>
            <span class="text-dark"> {{article.subtitle}} </span>
          {{/link-to}}
        </div>
    {{/each}}
  </div>
</div>

{{!-- Content --}}
<div class="container">
  <div class="row mt-2 mt-md-5 justify-content-center">
    <div class="col-12 col-md-7 mt-3 mt-md-5">
      <h1> About the RoboTeam </h1>
      <p>
        RoboTeam Twente is a multidisciplinary team of students from the University of Twente.
        We aspire to innovate in both robotics and artificial intelligence.
        Next, we want to inspire everyone for these two sectors and show the world what can be achieved with them.
        We believe robotics and artificial intelligence can make the world a better place if used correctly.
      </p>
      <p>
        Our medium to achieve these goals is the RoboCup, this year in Sydney.
        The RoboCup hosts multiple competitions for soccer and rescue robots as well as robots that can help at home or on the work floor.
        We will compete at the world championship of robot soccer in which two teams of eight small robots will compete with each other.

        This is the third year the team participates in the RoboCup. The team consists of students from different backgrounds,
        such as Mechanical Engineering, Electrical Engineering, Biomedical Engineering, Computer Science, Advanced Technology and ATLAS University College.

        In the DesignLab of the University of Twente we have a special soccer field,
         on which we will frequently test our robots and in the near future play practice matches.
        If you don’t want to miss anything of our progress and if you want to be notified when we are going to practice, follow us on Facebook or Linkedin!
      </p>
    </div>

    {{!-- Youtube video --}}
    <div class="col-12 col-md-5 mt-3 mt-md-5">

      <iframe class="max-width" height="280px" src="https://www.youtube.com/embed/o5aIkALemNs?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
  </div>
</div>

  {{img-banner
    class="mt-5"
    title="We believe robotics and artificial intelligence can make the world a better place"
    subtitle="Why we do what we do"
    link="robocup"
    imageSrc="images/ai.jpg"
  }}

<div class="container">
  {{!-- inspiration and innovation content block --}}
  <div class="row pt-2 pt-md-5">
    <div class="col-12 col-md-6">
      <h1> Inspiration </h1>
      <p>
        Besides our effort to win the RoboCup, we also aim to inspire and educate people about Artificial intelligence and robotics.
        We do this by attending events from companies and by visiting high schools. RoboTeam Twente offers live demonstrations of our football robots, but also inspiring talks about Artificial Intelligence,
        interesting workshops where everybody can create tactics using a special-built graphical interface.
      </p>
    </div>
    <div class="col-12 col-md-6">
      <h1 class="mt-3 mt-md-0"> Innovation </h1>
      <p>
        Within the roboteam a lot of time is spent on innovation. Last year one of the main innovations of RoboTeam Twente was the Geneva Drive.
        You can read all about our innovations in our team description papers in the {{#link-to 'documentation'}} documentation {{/link-to}} part of our website.
      </p>
    </div>
  </div>

  <div class="row pt-2 pt-md-5 justify-content-center">
    {{counter-text class="m-5 p-5 col-8 text-centered"}}
  </div>
</div>
  {{img-banner
    class="mt-5"
    title="The RoboTeam is a group of 15 students from more than 6 different studies"
    subtitle="Look who we are and why we are in the team"
    link="team"
    imageSrc="content/team.JPG"
  }}

<div class="container">
  {{!-- Lightwidget Instagram widget--}}
  <h1 class="mt-5 pt-5"> Follow us on Instagram! </h1>
  <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/b3f9f84fb8625a868870d3c69ae57981.html" scrolling="no" allowtransparency="true" class="lightwidget-widget instagram-widget mb-5"></iframe>
</div>

{{!-- partners content block (full width) --}}
<div class="container-fluid p-5">
  <div class="row justify-content-center">
    <h1 class="col-12 mt-5 pt-5 text-centered"> Our partners </h1>

    <img class="sponsor col-4 col-md-2" alt="Nexperia" src="content/partners/gigabyte/nexperia.png">
    <img class="sponsor col-4 col-md-2" alt="University of Twente" src="content/partners/gigabyte/utwente.jpg">
    <img class="sponsor col-4 col-md-2" alt="XSens" src="content/partners/gigabyte/xsens.jpg">
    <img class="sponsor col-4 col-md-2" alt="Novel-T" src="content/partners/gigabyte/novelt.png">
    <img class="sponsor col-4 col-md-2" alt="Maxon" src="content/partners/gigabyte/maxon.jpg">
    <img class="sponsor col-4 col-md-2" alt="Q8" src="content/partners/gigabyte/q8.png">

    <img class="sponsor col-4 col-md-2" alt="Hemabo" src="content/partners/gigabyte/hemabo.jpg">
    <img class="sponsor col-4 col-md-2" alt="Altium" src="content/partners/megabyte/altium.jpg">
    <img class="sponsor col-4 col-md-2" alt="Basler" src="content/partners/megabyte/basler.png">
    <img class="sponsor col-4 col-md-2" alt="Better Be" src="content/partners/megabyte/betterbe.png">
    <img class="sponsor col-4 col-md-2" alt="Demcon" src="content/partners/megabyte/demcon.jpg">
    <img class="sponsor col-4 col-md-2" alt="Designlab" src="content/partners/megabyte/designlab.jpg">

    <img class="sponsor col-4 col-md-2" alt="Nuclino" src="content/partners/kilobyte/nuclino.png">
    <img class="sponsor col-4 col-md-1" alt="Eurocircuits" src="content/partners/megabyte/eurocircuits.png">
    <img class="sponsor col-4 col-md-1" alt="ovSoftware" src="content/partners/megabyte/ovsoftware.png">
    <img class="sponsor col-4 col-md-1" alt="RS" src="content/partners/megabyte/rs.png">
    <img class="sponsor col-4 col-md-1" alt="Smans" src="content/partners/megabyte/smans.jpg">
    <img class="sponsor col-4 col-md-2" alt="IC" src="content/partners/kilobyte/ic.jpg">
    <img class="sponsor col-4 col-md-2" alt="JB Tech" src="content/partners/kilobyte/jbtech.png">
    <img class="sponsor col-4 col-md-2" alt="NeoNode" src="content/partners/kilobyte/neonode.png">
    <img class="sponsor col-4 col-md-1" alt="Egberts" src="content/partners/byte/egberts.jpg">
    <img class="sponsor col-4 col-md-2" alt="Farnel" src="content/partners/byte/farnel.png">
    <img class="sponsor col-4 col-md-2" alt="Kramp" src="content/partners/byte/kramp.png">
    <img class="sponsor col-4 col-md-2" alt="Rinarck" src="content/partners/byte/rinarck.jpg">
    <img class="sponsor col-4 col-md-1" alt="TTI" src="content/partners/byte/tti.jpg">
    <img class="sponsor col-4 col-md-2" alt="Vink" src="content/partners/byte/vink.png">
  </div>
</div>
