<div class="container mt-5">
  <div class="col-12 mt-5">
    <h1> Apply for RoboTeam #4! </h1>

    {{img-banner
      class="mt-5"
      title="Learn to apply the theory of your study to beat the RoboCup 2020!"
      subtitle="Apply for Roboteam!"
      imageSrc="content/ai8.jpg"
    }}


    <div class="row">
      <div class="col-12">
        Robocup
      </div>
    </div>
    <hr>
     <div class="row">
      <div class="col-12 mb-5">
        <h1> Available positions </h1>
        <i class="text-muted"> All positions start at 01-09-2019 </i>
      </div>
     	{{#each model as |offer|}}
	     	<div class="col-4" {{action 'selectOffer' offer.id}}>
				<div class="card offer-card border-0 border-radius-0 link mb-5">
				  <img class="card-img-top" src="{{offer.imageSrc}}" alt="{{ offer.title }}">
				  <div class="card-body">
				    <h5 class="card-title"> {{ offer.title }} </h5>
				    <p class="card-text"> {{offer.contentShortened }} </p>
				  </div>
				</div>
		     </div>
     	{{/each}}
    </div>
  </div>
</div>

<div class="backdrop {{if sideBarOpen 'visible'}}" {{action 'deselectOffer'}}> </div>
<div class="slideModal {{if sideBarOpen 'visible'}} p-0">
  <div class="container">
    <div class="row">
      <div class="col-12 mt-5">
        <div class="row">
          <div class="col-12 pt-5 pl-5 pb-2">
            <img class="max-width" alt={{selectedOffer.title}} src={{selectedOffer.imageSrc}}>
          </div>
          <div class="col-12 pl-5">
            <h3 class="mt-2 pt-0 pb-0"> {{selectedOffer.title}} </h3>
            <i class="text-muted"> 
              {{if selectedOffer.isBoard "Board position"}}
              {{if (and selectedOffer.isBoard selectedOffer.fullTime) " / "}}
              {{if selectedOffer.fullTime "Fulltime"}}
              {{if (and selectedOffer.fullTime selectedOffer.halfTime) " / "}}
              {{if selectedOffer.halfTime "Halftime"}} 
              {{if (and selectedOffer.halfTime selectedOffer.partTime) " / "}}
              {{if selectedOffer.partTime "Parttime"}} 
            </i>
          </div>
        </div>
      </div>
      <div class="col-12 p-5 pt-0">
        <span> {{selectedOffer.contentFormatted}} </span>
      </div>
    </div>
  </div>
</div>