<div class="container">
  <div class="col-12 mt-5">
    <h1> RoboTeam Twente 2018/2019 </h1>
    {{#link-to 'previousteams'}}
      <span class="link"> View previous teams </span>
    {{/link-to}}
    <div class="row mb-5 pb-5">
      {{#each model as |member|}}
        <div class="col-6 mt-5 col-sm-4 col-md-3 col-xl-2 link" {{action 'selectMember' member.id}}>
          <img class="max-width" alt={{member.name}} src={{member.imageSrc}}>
          <h5 class="mb-0"> {{member.name}} </h5>
          {{member.role}}
        </div>
      {{/each}}
    </div>
  </div>
</div>

<div class="backdrop {{if sideBarOpen 'visible'}}" {{action 'deselectMember'}}> </div>

<div class="slideModal {{if sideBarOpen 'visible'}} p-0">
  <div class="container">
    <div class="row">
      <div class="col-12 mt-5 p-5">
        <div class="row">
          <div class="col-12 col-md-6">
            <img class="max-width" alt={{selectedMember.name}} src={{selectedMember.imageSrc}}>
          </div>
          <div class="col-12 col-md-6">
            <h3 class="mt-2 pt-2"> {{selectedMember.name}} </h3>
            {{selectedMember.role}} <br>
            {{selectedMember.study}} <br>
            <a href="mailto:{{selectedMember.mail}}"> {{selectedMember.mail}} </a> <br>
          </div>
        </div>
      </div>
      <div class="col-12 pl-5 pr-5 pt-2 pb-5">
        <span> {{selectedMember.storyFormatted}} </span>
      </div>
    </div>
  </div>
</div>
