<div class="container">
  <div class="teamgrid col-12 mt-5">
    <div class="row mb-5 pb-5">
    {{#each model as |member|}}
      <div class="col-6 mt-5 col-md-4 col-sm-3 col-xl-2 link" {{action 'selectMember' member.id}}>
        <img src={{member.imageSrc}} style="width: 100%">
        <h5 class="mb-0"> {{member.name}} </h5>
        {{member.role}}
      </div>
      {{/each}}
    </div>
  </div>
</div>

{{#if selectedMember}}
  <div class="backdrop" {{action 'deselectMember'}}> </div>
  <div class="slideModal p-0" {{action 'deselectMember'}}>
    <div class="container">
        <div class="row">
        <div class="col-12 mt-5 p-0">
          <img src={{selectedMember.imageSrc}} style="width: 100%">
        </div>
          <div class="col-12 p-3">
            <h3 class="mb-0"> {{selectedMember.name}} </h3>
            {{selectedMember.role}} <br>
            {{selectedMember.study}} <br>
            {{selectedMember.age}} <br>

            <span style="font-size: .9rem;"> {{selectedMember.storyFormatted}} </span>
          </div>
      </div>
  </div>
</div>

{{/if}}
