<div class="container">
  <div class="col-12 mt-5">
    <h1> RoboTeam Twente 2018/2019 </h1>

    <div class="row">
    {{#each model as |member|}}


    <div class="col-6 col-sm-4 col-md-3 col-xl-2" {{action 'selectMember' member.id}}>
      <img class="mt-5" src={{member.imageSrc}} style="width: 100%"/>
      <h5 class="mb-0"> {{member.name}} </h5>
      {{member.role}}
    </div>

    {{#if selectedMember}}
      {{#if (eq selectedMember.id member.id)}}
      <div class="col-6 col-sm-4 col-md-3 col-xl-6 mt-5">
          {{member.storyFormatted}}
        </div>
      {{else}}

      {{/if}}
    {{/if}}


      {{/each}}
    </div>
  </div>
</div>
