<div class="container">
  <div class="col-12 mt-5">
    <h1> RoboTeam Twente 2018/2019 </h1>

    <div class="row mb-5 pb-5">



    {{#each model as |member|}}
      <div class="col-6 mt-5 col-sm-4 col-md-3 col-xl-2 link" {{action 'selectMember' member.id}}>
        <img src={{member.imageSrc}} style="width: 100%"/>
        <h5 class="mb-0"> {{member.name}} </h5>
        {{member.role}}
      </div>
      {{/each}}
    </div>
  </div>
</div>

{{#if selectedMember}}
  <div class="slideModal p-5" {{action 'deselectMember'}}>

    <div class="container">
      <div class="col-12">
        <div class="row">
        <div class="col-3">
          <img src={{selectedMember.imageSrc}} style="width: 100%"/>
        </div>
          <div class="col-9">
            <h3 class="mb-0"> {{selectedMember.name}} </h3>
            {{selectedMember.role}} <br>
            <span style="font-size: .9rem;"> {{selectedMember.storyFormatted}} </span>
          </div>
        </div>
      </div>
  </div>
</div>

{{/if}}
