<div class="container">
  <div class="card mt-5">
    <div class="card-header">
      <div class="row">
        <strong class="col"> All listed events </strong>
        {{#link-to "admin.events.new"}}
          <a class="text-danger mr-3 float-right link"> Create new event </a>
        {{/link-to}}
      </div>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col" class="border-0"> Event </th>
          <th scope="col" class="border-0"> Location </th>
          <th scope="col" class="border-0"> Start date </th>
          <th scope="col" class="border-0"> End date </th>
          <th scope="col" class="border-0"> Options </th>
        </tr>
      </thead>

      <tbody>
        {{#each pagedContent as |event|}}
          <tr>
            <td>
              {{#link-to "events.show" event}}
                {{event.title}}
              {{/link-to}}
            </td>
            <td>{{event.location}}</td>
            <td>{{moment-format event.startdate "DD-MM-YYYY"}}</td>
            <td>{{moment-format event.enddate "DD-MM-YYYY"}}</td>
            <td>
              <a class="link text-danger" {{action "remove" event.id}}> Remove </a> /
              {{#link-to "admin.events.edit" event.id}} <a class="link text-muted"> Edit </a> {{/link-to}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  {{page-numbers content=pagedContent}}
</div>
